* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif; 
    color: #1C1917;
}

:root {
    --primary-color: #fafaf9;
    --primary-text-color:#FFEDD5;
    --primary-icon-color:#F97316;
} 

.hero {
    background-image: url("hero.jpg");
    background-size: cover;
    background-position: center top;
}

.inner-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}

#header {
    height: 100px;
    display:flex;
    justify-content: space-between;
}

.logo {
    width: 100px;
    height: 100px;
}

#nav {
    display: flex;
    align-items: center;
    font-weight: 200;
}
    
.navigation-item-price {
    padding: 10px;
    text-decoration-line: none;
}

.navigation-item-price:hover {
    color:var(--primary-icon-color);
}

.navigation-item-reviews {
    padding: 10px;
    text-decoration-line: none;
}

.navigation-item-reviews:hover {
    color:var(--primary-icon-color)
}

.phone {
    display: flex;
    padding: 10px;
    align-items: center;
}

.phone-icon {
    font-size: 15px;
    margin-right: 10px;
}

.hero-title {
    font-size: 60px;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 50px;
    max-width: 50%;
}

p {
    color: #57534E;
}

.hero-text {
    font-size: 20px;
    margin-bottom: 50px;
    max-width: 40%;
    line-height: 22px;
}

.hero-button {
    padding-bottom: 200px;
}

.button-large {
    background-color: var(--primary-icon-color);
    color:white;
    border: none;
    padding: 16px 32px;
    border-radius: 8px;
    font-size: 20px;
}

.button-large:hover {
    background-color:white ;
    color:#F97316;
}

.benefits {
    padding-top: 80px;
}

.main-title {
    font-size: 36px;
    text-align: center;
    font-weight: 800;
}

.benefits-list {
     display: flex;
     justify-content: space-between;
     padding-top: 50px;
     padding-bottom: 50px;
     gap: 20px;
}

.benefits-list_item {
    background-color: var(--primary-color);
    border:none;
    width: 30%;
    line-height: 22px;
    border-radius: 15px;
    padding: 20px; 
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.benefits-icon {
    font-size: 30px;
    margin: 15px;
    align-items: center;
}

h2 {
    font-size: 18px;
    font-weight: 100;
}

.benefits-list_item-icon {
    width: 60px;
    height: 60px;
    color: white;
    background-color: var(--primary-icon-color);
    border-radius: 10px;
    margin-bottom: 5px;
    box-shadow: 1px 1px 4px #d6d3d1
}

.about-school_item {
    display: flex;
    justify-content: space-between;

}

.about-school_item_contant {
    max-width: 50%;
}

.img_group-people {
    width: 450px;
    height: 400px;
    object-fit: contain;
    object-position: center;
  
}

.about-school_title {
    font-size: 30px;
    font-weight: 700;
    margin: 50px 0 50px;
}

.about-school_item_text {
    margin-bottom: 20px;
    color:#44403C;
    line-height: 19px;
}
.form {
    background-color: var(--primary-text-color);
    padding-top: 85px;
}

.form_item {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    padding-bottom: 130px;
}

.form-item_input {
    height: 50px;
    border: 1px solid #D6D3D1;
    border-radius: 8px;
    margin-right: 10px;
    font-size: 20px;
    padding-left: 5px;
}

.form-text {
    font-size: 18px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

.reviews {
    background-color: var(--primary-color);
    padding: 80px 0 60px;
}

.reviews_list {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 50px;
}

.reviews_list_item {
    max-width: 60%;
    border-bottom: 1px solid #D6D3D1;
    padding-top: 15px;
}

.reviews_text {
    margin: 10px auto 35px;
    line-height: 22px;
}

.subscription {
    padding: 90px 0 100px;
}

.subscription_list {
    margin-top: 60px;

    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.subscription_list_item {
    border: 1px solid #D6D3D1;
    width: 30%;
    line-height: 10px;
    border-radius: 15px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 7px;

}

.subscription-details {
    display: flex;
    flex-direction: column;
    align-content:flex-start;
    flex-grow: 2;
    gap:10px;
}

.subscription-detail {
    display: flex;
}

.subcription_title {
    font-size: 17px;
    font-weight: 400;
    margin-top: 20px;
    color: var(--primary-icon-color);
}

.subcription_price {
    font-weight: 700;
    font-size: 22px;
    margin: 15px 0 30px;
    color: black;
}

.tick-icon {
    color: #65a30d;
    font-size: 17px;
    padding-right: 7px;
}

.button-small {
    background-color:  var(--primary-text-color);
    border-radius: 8px;
    color: #EA580C;
    border: none;
    padding: 15px 20px;
    margin-top: 20px;
    font-size: 17px;
    text-align: center;
}

.button-small:hover {
    background-color: #EA580C;
    color:var(--primary-text-color);
}

footer {
    background-color:#E7E5E4;
    color:#78716c;
}

.footer-inner-conteiner {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 70px;
}

.footer-phone {
    display: flex;
}

.footer-icons {
    display: flex;
    font-size: 25px;
}

.instagram-icon {
    padding: 0 5px;
}

.instagram-icon:hover {
    color: var(--primary-icon-color);
}

.facebook-icon {
    padding: 0 5px;
}

.facebook-icon:hover {
    color: var(--primary-icon-color);
}

.twitter-icon {
    padding: 0 5px;   
}

.twitter-icon:hover {
    color:var(--primary-icon-color);
}

@media (max-width:600px) {

    .hero {
        background-color: rgba(0, 0, 0, 0.096);
        background-blend-mode: multiply;
    }
       
    .inner-container {
        padding: 10px 20px;
    } 
    
    #header {
        flex-wrap: wrap;
        font-size: 20px;
        font-weight: 600;
    }
    
    #nav {
        margin: 0 50px;
        font-weight: none;
    }

    .logo {
        width: 120px;
        height: 120px;
    }

    .hero-title {
        margin-top: 200px;
    }

    .hero-text {
        max-width: 50%;
    }

    .main-title {
        max-width: 90%;
        font-size: 50px;
        font-weight: 1000;
        margin: 0 auto;
    }

    .benefits-list {
        flex-direction: column;
        align-items: center;
        padding: 100px 30px;
        gap: 30px;
    }

    .benefits-list_item {
        width: 100%;
    }

    .about-school_item {
        flex-direction: column;
        align-items: center;
    }

    .about-school_item_contant {
        max-width: 100%;
    }

    h2 {
        font-size: 20px;
        font-weight: 600;
    }

    .mini-version {
        max-width: 80%;
        text-align: center;
        margin: 0 auto;
        font-size: 18px;
    }

    .about-school_title {
        font-size: 40px;
        font-weight: 800;
    }

    .about-school_item_text {
        line-height: 25px;
        font-size: 18px;
        font-weight: 600;
        text-align: justify;
    }

    .form_item {
        flex-direction: column;
        gap: 15px;
    }

    .form-item_input {
        margin-right: 0;
        width: 100%;
    }

    .button-large {
        width: 100%;
    }

    .reviews_list_item {
        max-width: 100%;
    }

    .reviews_text {
        font-size: 18px;
        text-align: justify;
    }

    .subscription_list {
        flex-direction: column;
    }

    .subscription_list_item {
        width: 100%;
        padding: 25px 50px;
        font-weight: 600;
    }
    
    .footer-inner-conteiner {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        justify-content: center;
    }

}

@media (max-width: 414px) {
    .img_group-people {
        width: 350px;
        height: 300px;
    }

#nav {
    margin: 0;
}

} 